@import "fonts.scss";

/* Указываем box sizing */


/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

body{
  min-width: 960px;
}
/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header{
  width: 100%;
  height: 100vh;
  background-image: url(../img/section1.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  background-position: center;

  &__title{
    width: 81.250vw;
    font-family: $Lato;
    font-size: 5.243vw;
    font-weight: 900;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 190px;
    margin-left: -245px;
  }
  &__subtitle{
    width: 53.611vw;
    height: 6.878306878306878vh;
    font-family: $Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: center;
    color: #ffffff;
    margin-left: -50px;
  }
  &__triangle{
    background-image: url(../img/header.png);
    width: 47.222vw;
    height: 44.44444444444444vh;
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: -50px;
    margin: 0 auto;
    &-title{
      font-family: $Lato;
      font-size: 4.167vw;
      font-weight: 800;
      letter-spacing: -3px;
      color: #ffffff;
      text-align: center;
      
      &::before{
          content: " ";
          border-bottom: 4px solid #989898;
          width: 7.361vw;
          height: 4px;
          position: absolute;
          margin-left: 30px !important;
          top: 90px;

      }
    }
   
  }
  &__media{
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin: 0 auto !important;
    margin-top: 45px !important;
  }
  &__btn{
    width: 182px;
    height: 51px;
    border-radius: 30px;
    background-color: #fba419;
    border: none;
    margin-left: 240px;
    margin-top: 50px;
    text-transform: uppercase;
    color: #ffff;
    font-family: $Lato;
    font-size: 20px;
    letter-spacing: 0.5px;
    font-weight: bold;

  }
}

.header__menu{
  &-left{
    width: 280px;
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    float: left;
    margin-left: 90px !important;
  }
  &-right{
    width: 280px;
    display: flex;
    justify-content: space-between;
    float: right;
    height: 40px;
    align-items: center;
    margin-right: 90px !important;

  }
  &-item{
    text-transform: uppercase;
    font-family: $Lato;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.38px;
    text-align: center;
    color: white;
  }
}
.doth{
width: 4px;
height: 4px;
color:#fba419;
border-radius: 50%;
}

.section-2{
  height:  100vh;
  width: 100%;
  display: flex;
  position: relative;
}


.yellow{
  color: #fc9e20;
}

.section-2{
  height: 100vh;
  width: 100%;
  background-color:  #2f2f2f;
}
.team{
padding-left: 11.069vw;
width: 27.778vw;
height: 83.99470899470899vh;
  &__title{
    width: 20.833vw;
    height: 15.476190476190474vh;
    font-family: $Lato;
    font-size:3.333vw;
    font-weight: 800;
    letter-spacing: 1.5px;
    text-align: left;
    color: white;
    &::after{
      content: " ";
      width: 14.306vw;
  height:1.0582010582010581vh;
  background-color: #fc9e20;
  position: absolute;
  border-radius: 30px;
  margin-top: 5.556vw;
  margin-left: -9vw;
    }
  }
  &__subtitle{
    color:  white;
    width: 27.778vw;
    height: 42.59259259259259vh;
    font-family: $Lato;
    font-size: 1.667vw;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: left;
    margin-top: 6.944vw;
  }
}
.subtitle{
  color: #bfbfbf;
}
.btn{
  width: 182px;
  border-radius: 30px;
  background-color: #fba419;
  border: none;
  text-transform: uppercase;
  color: #ffff;
  font-family: $Lato;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-align: center;
  padding: 0.694vw;
  margin-top: 6.944vw;
}

.photoset{
  width: 55.556vw;
  height:84.65608465608464vh;
    &__bot{
      width: 55.556vw;
      height: auto;
      display: flex;
      justify-content: space-between;
      margin-top: 60px;
      margin-left: 50px;
    }

  &__top{
    width: 55.556vw;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-left: 50px;
    &__item{
      height: 15.972vw;
      width: 38.359788359788354vh;
    }
    &-photo{
      width: 15.972vw;
      height: 30.42328042328042vh;
      background-color: white;
      background-image: url(../img/John.png);
      background-repeat: no-repeat;
      background-size: cover;
    background-position: center;
    }  

  } 
  &__info{
    text-align: center;
    padding-top: 30px;
    }
    &__name{
      font-family: $Lato;
      font-size: 1.736vw;
      font-weight: 800;
      letter-spacing: 0.63px;
      text-align: center;
      color: #fc9e20;
      text-transform: uppercase;
    }
  &__job{
    font-family: $Lato;
    font-size: 20px;
    font-weight: 300;
  
    line-height: 1.5;
    letter-spacing: 0.5px;
    text-align: center;
    color: #a3a3a3;
  }
}

.section-3{
  width: 100%;
  height: 100vh;
  display: flex;
}

.work{
  padding-left: 217px;
  width: 400px;
  height: 635px;
  padding-top: 2.083vw;
  &__title{
    font-family: $Lato;
    font-size: 3.333vw;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    text-align: left;
    color: #000000;
  }
  &__subtitle{
    font-family: $Lato;
    font-size: 1.181vw;
    line-height: 1.76;
    letter-spacing: 0.43px;
    text-align: left;
    color: #707070;
    padding-top: 5.952380952380952vh;
  }
  &__images{
    &-left{
      width: 585px;
      display: flex;
      flex-direction: column;
    }
    &-right{
      display: flex;
      width: 315px;
      display: flex;
      flex-direction: column;
    }
    &-top{
      background-image: url(../img/1.1.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 35vw;
      height: 51.05820105820106vh;
      margin-top: 5.556vw;
      margin-left: 20px;
    }
    &-bottom{
      background-image: url(../img/1.2.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 21.3vw;
      height:45.8994708994709vh;
      margin-left:40%;  
      margin-top: 3.0423280423280423vh;
    }
    &-top1{
      width: 19.3vw;
      height: 44.576719576719576vh;
      background-image: url(../img/1.3.png);
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 5.556vw;
      margin-left: 15px;
    
    }
    &-bottom1{
      background-image: url(../img/1.4.png);
      width: 19vw;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      margin-bottom: 40px;
      margin-left: 18px;
    }
  }
}
.top1-size{
  width: 315px;
  height: 200px;
}

.section4{
  max-width: 100%;
  height: 100vh;
  background-color: #2f2f2f;
  position: relative;

}

.choose{
 width: 24.306vw;
 height: 13.227513227513226vh;
 float: right;
 &__all{
   width: 40.625vw;
   height: 83.99470899470899vh;
   float: right;
 }

  &__title{
    font-family: $Lato;
    font-size: 3.333vw;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    width: 20.833vw;
    height: 25.52910052910053vh;
    padding-top: 10px;
    margin-left: -17.361vw;
  }
  &__content{
    width: 31.597vw;
    height: 60.81481481481481vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 7.500vw;
    float: right;
  }



  &__item{
    width: 21.875vw;
    height: 120px;
    position: relative;
    &::before{
      content: " ";
      background-image: url(../img/flag.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5.556vw;
      height:11.904761904761903vh;
      position: absolute;
      margin-left: -10.417vw;
      margin-top: 10px;
    }
    &-title{
      font-size: 1.111vw;
      color: white;
      font-family: $Lato;
      text-transform: uppercase;
      font-weight: 600;
    }


    &-subtitle{
      font-family: $Lato;
      font-size: 1.111vw;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.4px;
      text-align: left;
      color: #bfbfbf;
      padding-top: 10px;
    }
  }
  &__item3{
    width: 315px;
    height: 120px;
    &::before{
      content: " ";
      background-image: url(../img/human.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5.556vw;
      height: 11.904761904761903vh;
      position: absolute;
      margin-left: -11.111vw;
      margin-top: 20px;
    }
}
  &__item2{
    width: 315px;
    height: 120px;
    &::before{
      content: " ";
      background-image: url(../img/pc.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 5.556vw;
      height: 11.904761904761903vh;
      position: absolute;
      margin-left: -11.111vw;
      margin-top: 10px;
    }
}

}
.section__content{
  width: 96.181vw;
  height:83.99470899470899vh;
  display: flex;
}

.section4__img{
  width: 55.556vw;
  height: 100vh;
  float: left;
  display: flex;
  align-items: center;
}
.simage{
  background-image: url(../img/section4.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 48.611vw;
  max-width: 600px;
  height: 84.12698412698413vh;
  background-position: center;
}

.section5{
  width: 100%;
  height: 100vh;
  display: flex;
}

.services__wrapper{
  width: 45.903vw;
  height: 100vh;
}
.services{
  max-width: 19.792vw;
  height: 84.65608465608464vh;
  padding-top: 20px;
  margin-left: 12.361vw;
  &__title{
    font-family: $Lato;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: right;
    color: #000000;
    text-transform: uppercase;
  }
  &__subtitle{
    padding-top: 3.056vw;
    max-width: 19.444vw;
    height: 38.83068783068783vh;
    font-family: $Lato;
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: 0.6px;
    text-align: right;
    color: #040404;
    overflow-y:hidden;
  }
  &__btn{
    margin-left:5.556vw;
  }
  &__image{
    background-image: url(../img/services.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 60%;
    height: 100vh;
    background-position: center;
  }
}

.image__content{
  max-width: 57.292vw;
  height: auto;
  position: relative;
  z-index: 2;
  background-color: #2f2f2f;
  margin-top: 18%;
  margin-left: -6.944vw;
  &-item{
    width: 20.833vw;
    height: 215px;
    padding-top: 20px;
    margin-left: 40px;
  }
  &-top{
    display: flex;
    width: 54.861vw;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.item__icon{
  width: 86px;
  height: 85px;
  background-image: url(../img/Vector.png);
  margin: 0 auto;
}

.item__title{
  font-size: 1.181vw;
  font-weight: 800;
  letter-spacing: 0.43px;
  color: #fba419;
  font-family: $Lato;
  text-align: center;
  padding-top: 20px;
  text-transform: uppercase;
}

.item__subtitle{
  font-family: $Lato;
  font-size: 1.111vw;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: center;
  color: #bfbfbf;
}

.section6{
  width: 100%;
  height: 100vh;
  margin-top: 22px;
  display: flex;
  flex-wrap: wrap;
}

.client{
  width: 33.3%;
  height: 108.73015873015872vh;
  background-color: #2f2f2f;
  &__wrapper{
    width: 25.694vw;
    height: 71.42857142857143vh;
    margin-left: 100px;
  }
  &__title{
    width: 20.833vw;
    height: 12.433862433862434vh;
    font-family: $Lato;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    text-align: left;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 100px;
  }
  &__content{
    width: 300px;
    height: 17.857142857142858vh;
    padding-top: 140px;
    &-subtitle{
      font-family: $Lato;
      font-size: 16px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.4px;
      text-align: left;
      color: #bfbfbf;
    }
    &-name{
      font-family: $Lato;
      font-size: 24px;
      font-weight: 300;
      line-height: 1.5;
      letter-spacing: 0.4px;
      text-align: left;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
      padding-top: 10px;
    }
  }
  &__comment{
    height: 100vh;
  }
  &__wrapper-2{
    height: 79.36507936507935vh;
    width: 15.972vw;
   
    margin-left: 100px;
    padding-top: 100px;
  }
  &__dots{
    background-image: url(../img/dots.png);
    background-size: cover;
    width: 81px;
    height: 8.068783068783068vh;
    margin: 0 auto;
  }
  &__descr{
  font-family: $Lato;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.25;
  letter-spacing: 0.6px;
  text-align: center;
  color: #040404;
  padding-top: 55px; 
  overflow-y:hidden;
  height: 32.407407407407405vh;
  }
}

.photo__girl{
  width: 33%;
  height: 108.6vh;
  background-image: url(../img/Girl.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.client__comment-name{
  font-family: $Lato;
  font-size: 17px;
  font-weight: 800;
  line-height: 1.41;
  letter-spacing: 0.43px;
  text-align: center;
  color: #2f2f2f;
  text-transform: uppercase;
  padding-top: 45px;
}

.etc{
  width: 67px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 150px;
}

.dots__descr{
  background-image: url(../img/Ellipse.png);
  width: 16px;
  height: 16px;
  background-size: cover;
}

.section7{
  width: 100%;
  height: 420px;
  background-image: url(../img/section7.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 65px;
}
.touch__title{
  width: 348px;
  height: 37px;
  font-family: $Lato;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 1.2px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin: 0 auto;
  padding-top: 91px;
}

.touch__media{
  width: 830px;
  height: 90px;
  padding-top: 100px;
  margin: 0 auto;
  &-img{
    display: flex;
    justify-content: space-between;
  }
}

.touch__media-item-1{
background-image: url(../img/facebook.png);
background-repeat: no-repeat;
background-size: cover;
width: 82px;
height: 82px;
}
.touch__media-item-2{
  background-image: url(../img/google.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 82px;
  height: 82px;
  }
.touch__media-item-3{
background-image: url(../img/vk.png);
background-repeat: no-repeat;
background-size: cover;
width: 82px;
height: 82px;
    }
.touch__media-item-4{
background-image: url(../img/youtube.png);
background-repeat: no-repeat;
background-size: cover;
width: 82px;
height: 82px;
      }

.touch__media-item-5{
background-image: url(../img/In.png);
background-repeat: no-repeat;
background-size: cover;width: 82px;
height: 82px;
        }

.touch__media-item-6{
background-image: url(../img/dig.png);
background-repeat: no-repeat;
background-size: cover;
width: 82px;
height: 82px;
}
.touch__media-item-7{
background-image: url(../img/z.png);
background-repeat: no-repeat;
background-size: cover;
width: 82px;
height: 82px;
}

.section8{
  width: 100%;
  height: 535px;
  background-color: #2f2f2f;
}

.address__wrapper{
  width: 1028px;
  height: 80px;
  margin: 0 auto;
  padding-top: 101px;
  padding-left: 80px;
  
}
.address{
  display: flex;
  flex-direction: column;
  &__size{
    display: flex;
  justify-content: space-between;
  }
  &__title{
    font-family: $Lato;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  letter-spacing: 0.43px;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
  }
}


.address__content-top-1,
.address__content-top-2,
.address__content-top-3,{
  font-family: $Lato;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
  margin-top: 18px;
}

.address__content-bot-1,
.address__content-bot-2,
.address__content-bot-3{
  font-family: $Lato;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.4px;
  text-align: left;
  color: #ffffff;
}

.address__content-top-1::before{
  content: " ";
  background-image: url(../img/Mail.png);
  width: 54px;
  height: 42px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -80px;
}

.address__content-top-2::before{
  content: " ";
  background-image: url(../img/phone.png);
  width: 36px;
  height: 54px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -80px;
  margin-top: -10px;
}

.address__content-top-3::before{
  content: " ";
  background-image: url(../img/map.png);
  width: 52px;
  height: 54px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -80px; 
  margin-top: -10px;
}

.triangle{
  background-image: url(../img/triangle.png);
  width: 679px;
  height: 290px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 64px;
}

.copyright{
  font-family: $Lato;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.43px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 180px;
}

.copyright__subtitle{
  font-family: $Lato;
  font-size: 17px;
  line-height: 1.41;
  letter-spacing: 0.43px;
  text-align: center;
  color: #ffffff;
  padding-top: 15px;
}